/* Longueurs absolues  */
.absolues
h1 {font-size: 50px;}
h2 {font-size: 30px;}

p {
  font-size: 15px;
  line-height: 20px;
}

/* Longeurs relative */
.relative  
p {
    font-size: 10px;
    line-height: 100%;
    width: 100%;
  }
  
  div {
    font-size: 60px;
    border: 1px solid black;
  }
  
  span {
    font-size: 0.5em;
  }
